# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# IDE
.idea/
*.iml
.vscode/
*.class
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Data files
persons.txt
